@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h1>Welcome to Trash Collector</h1>
        <p>
Please log in to see your schedule.
        </p>
    </div>
</div>