
@model TrashCollector.Models.WorkScheduleViewModel
<table class="table">
    <thead>
        <tr>
            <th scope="col">Address</th>
            <th scope="col">Directions </th>
            <th scope="col">Customer's Name</th>
            <th scope="col">Pick Up Status</th>
            <th scope="col">Bill</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Customers.Count; i++)
        {

            //for (int j = 0; j < Model.Customers[i].Days.Count; j++)
            {
                //if ((Model.Customers[i].Days[j].Date == DateTime.Now.Date) &`& (Model.Customers[i].Days[j].HasPickUp == true) && (Model.Customers[i].Zipcode == Model.Employee.Zipcode))
                {
                    <tr>
                        <th scope="row"> @Model.Customers[i].Address</th>
                        <td>
                            <button type="button" class="btn btn-primary">Directions</button>
                            @*add the functionality to send to page giving directions*@
                        </td>
                        <td>
                            @Model.Customers[i].FullName
                        </td>
                        <td>
                            Needs Pick Up
                        </td>
                        <td>
                            <button type="button" class="btn btn-success"> Confirm Pick Up </button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

