
@model TrashCollector.Models.WorkScheduleViewModel
<table class="table">
    <thead>
        <tr>
            <th scope="col">Address</th>
            <th scope="col">Directions </th>
            <th scope="col">Customer's Name</th>
            <th scope="col">Pick Up Status</th>
            <th scope="col">Bill</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.CustomersAndDays.Count; i++)
        {
            if ((Model.CustomersAndDays[i].Day.Date == DateTime.Now.Date) &&(Model.CustomersAndDays[i].HasPickUpRequested == true) && (Model.CustomersAndDays[i].User.Zipcode == Model.Employee.Zipcode))
            {
                    <tr>
                        <th scope="row"> @Model.CustomersAndDays[i].User.Address</th>
                        <td>
                            <button type="button" class="btn btn-primary">Directions</button>
                            @*add the functionality to send to page giving directions*@
                        </td>
                        <td>
                            @Model.CustomersAndDays[i].User.FullName
                        </td>
                        <td>
                            Needs Pick Up
                        </td>
                        <td>
                            <button type="button" class="btn btn-success"> Confirm Pick Up </button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

