
@model TrashCollector.Models.WorkScheduleViewModel

@*@if (Model.Employee.IsEmployed)
    {

        <p> Here is your work schedule.</p>
        Html.Partial("_EmployeeCalender");
    }*@
else
{
<p> YOU ARE NOT PERMITTED TO VIEW THIS PAGE</p>
}
