@model TrashCollector.Models.CustomerScheduleViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
@if (Model.User.MonthlyDebt == 0)
{
    <p> You currently do not owe anything for this month</p>
}
else
{
    <p> Your Account Balance is $@Model.User.MonthlyDebt @Html.ActionLink("Pay Balance","PayBalance", "Schedule", new { id = Model.User.Id }, null)</p>
}
@Html.Partial("_Calander")
@if (Model.User.IsEmployed == true)
{
    <p> Click @Html.ActionLink("Here", "EmployeeWorkSchedule", "Schedule") for the houses that need trash pick up.</p>
}

